In [27]:
import pandas as pd
import numpy as np

In [28]:
df = pd.DataFrame(np.random.rand(50,4), index = np.arange(50))
df.head()

          0         1         2         3
0  0.962693  0.849255  0.807707  0.308559
1  0.499670  0.063413  0.436689  0.892610
2  0.214733  0.292073  0.209443  0.420002
3  0.542132  0.151716  0.406567  0.705961
4  0.927824  0.343530  0.660667  0.721362

In [ ]:
# df.describe() -> describes dataframe i.e. gives some stat related to dataframe
# df.dtypes     -> mentions data types of each column
# df.to_numpy() -> converts dataframe to numpy array
# df.T          -> Transpose Dataframe
# loc -> index_name based cell retriving
# slicing:
# df.loc[row_index_name, col_name] -> retrives that cell's data
# df.loc[[r1,r2],[c1,c2]]] -> retrives a particular dataframe from the og
# df.loc[ : ,[c1,c2]]] -> all rows of c1 and c2
# df.loc[[r1,r2] , : ] -> all columns of r1 and r2

df.columns = list("abcd")

df.loc[0,"b"] = "Jaishnav"
df.head()

df.loc[[0,4],["b","d"]]

C:\Users\jaish\AppData\Local\Temp\ipykernel_8544\1405053096.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Jaishnav' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  df.loc[0,"b"] = "Jaishnav"

          b         d
0  Jaishnav  0.308559
4   0.34353  0.721362

In [51]:
# df.drop(index_name or list of them, axis=0/1) -> to delete a particular column or row 
# df = df.drop("d", axis=1) # or use df.drop("d", axis=1, inplace=True)
# df.reset_index(drop=True, inplace=True) -> resets index and drops the additional index column created

df.reset_index(drop=True, inplace=True)
df.head()

   index         a         b         c
0      0  0.962693  Jaishnav  0.807707
1      2  0.214733  0.292073  0.209443
2      4  0.927824   0.34353  0.660667
3      5  0.211361   0.85415  0.400106
4      6  0.970543   0.16821  0.341756

In [ ]:
# iloc -> index_number based cell retriving
# df.iloc[r_index, c_index]
df.iloc[1,2]
# same kind of slicing can be done with iloc how it was done in loc

0.4366892660576256